<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <%- include('sidebar') %>
      <main>
        <div class="main-content_dashbrd">
          <h3 class="page-title dashbrd-title">Dashboard</h3>
          <div class="left-side">
            <section class="overview">
              <div class="overview-card">
                <div class="overview-icon">
                  <svg viewBox="0 0 30 29" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M28.0078 6.31602V1.8125C28.0078 1.19023 27.5051 0.6875 26.8828 0.6875H3.11721C2.49494 0.6875 1.99221 1.19023 1.99221 1.8125V6.31602C1.4051 6.35117 0.937522 6.83984 0.937522 7.4375V12.0676C0.93527 12.9185 1.10757 13.7609 1.44377 14.5426C1.59494 14.9012 1.78127 15.2387 1.99221 15.5586V27.6875C1.99221 28.3063 2.49494 28.8125 3.11721 28.8125H26.8828C27.5051 28.8125 28.0078 28.3098 28.0078 27.6875V15.5586C28.2221 15.2379 28.4057 14.8977 28.5563 14.5426C28.8903 13.7586 29.0625 12.9254 29.0625 12.0676V7.4375C29.0625 6.83984 28.5949 6.35117 28.0078 6.31602ZM4.52346 3.21875H25.4766V6.3125H4.52346V3.21875ZM17.25 26.2848H12.75V22.625H17.25V26.2848ZM25.4906 26.2848H19.5V21.5C19.5 20.8777 18.9973 20.375 18.375 20.375H11.625C11.0028 20.375 10.5 20.8777 10.5 21.5V26.2848H4.52346V17.7699C4.62541 17.8191 4.73088 17.8684 4.83987 17.9105C5.62385 18.241 6.45705 18.4062 7.31487 18.4062C8.17268 18.4062 9.00237 18.241 9.78987 17.9105C10.275 17.7066 10.7321 17.4465 11.1504 17.1336C11.1574 17.1301 11.1645 17.1301 11.1715 17.1336C11.5912 17.4478 12.0482 17.7088 12.5321 17.9105C13.316 18.241 14.1492 18.4062 15.0071 18.4062C15.8649 18.4062 16.6946 18.241 17.4821 17.9105C17.9672 17.7066 18.4242 17.4465 18.8426 17.1336C18.8496 17.1301 18.8567 17.1301 18.8637 17.1336C19.2834 17.4478 19.7404 17.7088 20.2242 17.9105C21.0082 18.241 21.8414 18.4062 22.6992 18.4062C23.5571 18.4062 24.3867 18.241 25.1742 17.9105C25.2797 17.8648 25.3852 17.8191 25.4906 17.7699V26.2848V26.2848ZM26.5313 12.0676C26.5313 14.1699 24.8086 15.875 22.6887 15.875C21.2543 15.875 20.0028 15.098 19.3418 13.9449C19.2399 13.7691 19.0571 13.6602 18.8531 13.6602H18.8321C18.6317 13.6602 18.4453 13.7691 18.3434 13.9449C18.0061 14.5331 17.5191 15.0216 16.9318 15.3606C16.3446 15.6996 15.6781 15.8771 15 15.875C13.5692 15.875 12.3211 15.1016 11.6602 13.952C11.5547 13.7727 11.3649 13.6602 11.1574 13.6602C10.95 13.6602 10.7567 13.7727 10.6547 13.952C10.3155 14.5379 9.82781 15.0242 9.24088 15.3618C8.65395 15.6994 7.98844 15.8764 7.31135 15.875C5.19143 15.875 3.46877 14.1699 3.46877 12.0676V8.86133C3.46877 8.85078 3.4758 8.84375 3.48635 8.84375H26.5137C26.5242 8.84375 26.5313 8.85078 26.5313 8.86133V12.0676Z"
                    />
                  </svg>
                </div>
                <div class="overview-title">Total Products</div>
                <div class="overview-value">1256</div>
              </div>
              <div class="overview-card">
                <div class="overview-icon">
                  <svg viewBox="0 0 28 32" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M3.62194 8.66602L5.01413 7.27383C5.12311 7.16484 5.12311 6.98555 5.01413 6.87656L2.62702 4.48945C2.57416 4.43711 2.50277 4.40775 2.42838 4.40775C2.35399 4.40775 2.28261 4.43711 2.22975 4.48945L0.837563 5.88164C0.785221 5.9345 0.755859 6.00588 0.755859 6.08027C0.755859 6.15466 0.785221 6.22605 0.837563 6.27891L3.22467 8.66602C3.33366 8.775 3.50944 8.775 3.62194 8.66602ZM27.1626 5.88164L25.7704 4.48945C25.7175 4.43711 25.6461 4.40775 25.5717 4.40775C25.4974 4.40775 25.426 4.43711 25.3731 4.48945L22.986 6.87656C22.9337 6.92942 22.9043 7.00081 22.9043 7.0752C22.9043 7.14958 22.9337 7.22097 22.986 7.27383L24.3782 8.66602C24.4872 8.775 24.6665 8.775 24.7755 8.66602L27.1626 6.27891C27.2715 6.16641 27.2715 5.99062 27.1626 5.88164ZM13.0122 4.07812H14.9809C15.1356 4.07812 15.2622 3.95156 15.2622 3.79688V0.421875C15.2622 0.267187 15.1356 0.140625 14.9809 0.140625H13.0122C12.8575 0.140625 12.7309 0.267187 12.7309 0.421875V3.79688C12.7309 3.95156 12.8575 4.07812 13.0122 4.07812ZM25.2465 29.1094H2.74655C2.12428 29.1094 1.62155 29.6121 1.62155 30.2344V31.0781C1.62155 31.2328 1.74811 31.3594 1.9028 31.3594H26.0903C26.245 31.3594 26.3715 31.2328 26.3715 31.0781V30.2344C26.3715 29.6121 25.8688 29.1094 25.2465 29.1094ZM2.7817 25.7344C2.7817 26.3566 3.28444 26.8594 3.9067 26.8594H24.0864C24.7087 26.8594 25.2114 26.3566 25.2114 25.7344V17.543C25.2114 11.3484 20.1911 6.32812 13.9965 6.32812C7.80202 6.32812 2.7817 11.3484 2.7817 17.543V25.7344ZM5.31295 17.543C5.31295 12.7477 9.20124 8.85938 13.9965 8.85938C18.7919 8.85938 22.6801 12.7477 22.6801 17.543V24.3281H10.1997V18.3164C10.1997 18.123 10.0415 17.9648 9.84811 17.9648H8.30123C8.10788 17.9648 7.94967 18.123 7.94967 18.3164V24.3281H5.31295V17.543Z"
                    />
                  </svg>
                </div>
                <div class="overview-title">Out Of Stock</div>
                <div class="overview-value">10</div>
              </div>
              <div class="overview-card">
                <div class="overview-icon">
                  <svg viewBox="0 0 33 32" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M16.5 0C7.80234 0 0.75 7.05234 0.75 15.75C0.75 24.4477 7.80234 31.5 16.5 31.5C25.1977 31.5 32.25 24.4477 32.25 15.75C32.25 7.05234 25.1977 0 16.5 0ZM16.5 28.8281C9.27891 28.8281 3.42188 22.9711 3.42188 15.75C3.42188 8.52891 9.27891 2.67188 16.5 2.67188C23.7211 2.67188 29.5781 8.52891 29.5781 15.75C29.5781 22.9711 23.7211 28.8281 16.5 28.8281Z"
                    />
                    <path
                      d="M18.1771 14.9344L17.2841 14.727V10.0055C18.6201 10.1883 19.4463 11.025 19.5869 12.0516C19.6045 12.1922 19.724 12.2941 19.8646 12.2941H21.4431C21.6084 12.2941 21.7385 12.15 21.7244 11.9848C21.5099 9.79453 19.7064 8.38828 17.2982 8.1457V6.99609C17.2982 6.84141 17.1716 6.71484 17.017 6.71484H16.0291C15.8744 6.71484 15.7478 6.84141 15.7478 6.99609V8.15625C13.2587 8.39883 11.3111 9.77344 11.3111 12.3398C11.3111 14.7164 13.0619 15.8625 14.9005 16.302L15.7689 16.5234V21.5402C14.215 21.3328 13.3431 20.5031 13.1638 19.3852C13.1427 19.2516 13.0232 19.1531 12.8861 19.1531H11.2619C11.0966 19.1531 10.9666 19.2937 10.9806 19.459C11.1388 21.3926 12.6048 23.1715 15.7338 23.4V24.5039C15.7338 24.6586 15.8603 24.7852 16.015 24.7852H17.0134C17.1681 24.7852 17.2947 24.6586 17.2947 24.5004L17.2877 23.3859C20.0404 23.1434 22.0092 21.6703 22.0092 19.0266C22.0056 16.5867 20.4553 15.4969 18.1771 14.9344ZM15.7654 14.3648C15.5685 14.3086 15.4033 14.2559 15.238 14.1891C14.0498 13.7602 13.4978 13.0676 13.4978 12.1746C13.4978 10.8984 14.4646 10.1707 15.7654 10.0055V14.3648ZM17.2841 21.5508V16.8504C17.3931 16.882 17.4916 16.9066 17.5935 16.9277C19.2564 17.434 19.8154 18.1371 19.8154 19.2164C19.8154 20.591 18.7818 21.4172 17.2841 21.5508Z"
                    />
                  </svg>
                </div>
                <div class="overview-title">Total Revenue</div>
                <div class="overview-value">$14 535.75</div>
              </div>
            </section>
            <section class="categories">
              <h1 class="heading_1"><%= title %></h1>
              <div class="div-line"></div>
              <% if (locals.categories) { %>
              <ul class="category-list">
                <% for (let category of categories){ %>
                <li>
                  <div class="category-card">
                    <div class="category-title"><%= category.name %></div>
                    <div class="category-overlay">
                      <a href="<%= category.id %>/categories">View Products</a>
                    </div>
                  </div>
                </li>
                <% } %>
              </ul>
              <% } %>
            </section>
            <section class="tables">
              <div class="table-container">
                <table class="table_dashbrd">
                  <caption class="heading_1">
                    Recently Added
                  </caption>
                  <tr>
                    <th>Product</th>
                    <th>Performance</th>
                    <th>Price</th>
                    <th>Units Sold</th>
                  </tr>
                  <% if (locals.recentlyAdded) { %>
                  <tbody>
                    <% for (let product of recentlyAdded){ %>
                    <tr>
                      <td><%= product.name %></td>
                      <td><%= product.performance %></td>
                      <td><%= product['unit_price'] %></td>
                      <td><%= product.added %></td>
                    </tr>
                    <% } %>
                  </tbody>
                  <% } %>
                </table>
              </div>
            </section>
          </div>
          <div class="right-side pad-r-1">
            <table class="table_dashbrd table-bg-light table-container">
              <caption class="heading_1">
                Top 5 Selling
              </caption>
              <tr>
                <th>Product</th>
                <th>Units Sold</th>
              </tr>
              <% if (locals.topUnits) { %>
              <tbody>
                <% for (let product of topUnits){ %>
                <tr>
                  <td><%= product.name %></td>
                  <td><%= product.performance %></td>
                </tr>
                <% } %>
              </tbody>
              <% } %>
            </table>
          </div>
        </div>
      </main>
    </div>

    <script>
      const inventoryDropdown = document.getElementById("inventory-dropdown");
      const ordersDropdown = document.getElementById("orders-dropdown");
      const toggleDropdown = (e) => {
        if (!e.target.dataset.dropitem) return;
        const list = document.getElementById(e.target.dataset.dropitem);
        list.classList.toggle("collapse");
        e.target.lastElementChild.classList.toggle("flip-up");
      };

      inventoryDropdown.addEventListener("click", toggleDropdown);
      ordersDropdown.addEventListener("click", toggleDropdown);
    </script>
  </body>
</html>
